[Unit]
Description=Bind the gadget image to a UDC as USB mass storage
DefaultDependencies=no
After=systemd-remount-fs.service systemd-modules-load.service
After=beamer-firstboot.service beamer-preflight.service
Wants=sys-kernel-config.mount
After=sys-kernel-config.mount
Before=sysinit.target shutdown.target
Conflicts=shutdown.target
ConditionPathExists=/srv/gadget.img

OnFailure=beamer-led-error.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/gadget-up.sh
ExecStop=/usr/local/sbin/gadget-down.sh

[Install]
WantedBy=sysinit.target
